@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 55%, rgba(0,0,0,0) 100%);}

body {
    color: #FFF;
    background-color: #000;
    font-family: 'Comfortaa', sans-serif;
}

h1 {
    font-family: 'Righteous', monospace;
}

main {
    margin-top: 20vh;
}

form {
    display: flex;
    margin-top: 5vh;
}

form input {
    flex-grow: 1;
    background-color: transparent;
    color: #FFF;
}

.warning::placeholder {
    color: darkred;
}

.button {
    width: 40px;
    height: 80%;
    margin-left: 12px;
    align-self: center;
    text-align: center;
    font-size: 1rem;

}

/* #warningText {
    text-align: left;
    color: darkred;
    margin-top: .4rem;
} */


.task-list {
    min-height: 15vh;
    list-style-type: none;
    padding: 10px;
    /* background-color: #13191b; */
    background: linear-gradient(180deg, rgba(19, 25, 27,1) 0%, rgba(19, 25, 27,0) 100%);
    border-radius: var(--bs-border-radius-lg);
    /* border: 2px solid #253237; */
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(180deg, rgba(37,50,55,1) 0%, rgba(37,50,55,0) 100%);
    border-image-slice: 1;
    background-clip: padding-box;}

.list-item {
    display: flex;
    margin-bottom: .5rem;
    
}

.task-effect-in {
    transform: translateY(-100%); /* Start off top of screem */
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Smooth slide-in effect */
}

.task-effect-in.effect-static {
    transform: translateY(0);
    opacity: 1;
}

.task-effect-out {
    opacity: 0;
    transition: opacity 0.5s ease-in; /* Fade out effect */

    /* NOT CONVINCED THIS IS WORKING CONSISTENTLY */


}

.task-list li {
    border: .5px solid #FFF;
    border-radius: var(--bs-border-radius-lg);
    padding: .5rem .75rem;
    font-size: 1rem;
    flex-grow: 1;

}

