@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #FFF;
    background-color: #000;
    font-family: 'Comfortaa', sans-serif;
}

h1 {
    font-family: 'Righteous', monospace;
}

main {
    margin-top: 25vh;
}

form {
    display: flex;
    margin-top: 5vh;
}

form input {
    flex-grow: 1;
    background-color: transparent;
    color: #FFF;
}

form button {
    width: 40px;
    height: 80%;
    margin: 0 12px;
    align-self: center;
    text-align: center;
    font-size: 2rem;

}

#warningText {
    text-align: left;
    color: darkred;
    margin-top: .4rem;
}


.task-list {
    min-height: 10vh;
    list-style-type: none;
}

.task-list li {
    border: .5px solid white;
    border-radius: var(--bs-border-radius-lg);
    padding: .5rem .75rem;
    font-size: 1rem;
    margin-bottom: .5rem;

}