@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #FFF;
    background-color: #000;
    font-family: 'Comfortaa', sans-serif;
}

h1 {
    font-family: 'Righteous', monospace;
}

main {
    margin-top: 20vh;
}

form {
    display: flex;
    margin-top: 5vh;
}

form input {
    flex-grow: 1;
    background-color: transparent;
    color: #FFF;
}

.warning::placeholder {
    color: darkred;
}

.button {
    width: 40px;
    height: 80%;
    margin-left: 12px;
    align-self: center;
    text-align: center;
    font-size: 1rem;

}

/* #warningText {
    text-align: left;
    color: darkred;
    margin-top: .4rem;
} */


.task-list {
    min-height: 12vh;
    list-style-type: none;
    background-color: #13191b;
    border-radius: var(--bs-border-radius-lg);
    border: 2px solid #253237;
    padding: 10px;
}

.list-item {
    display: flex;
    margin-bottom: .5rem;
    
}

.task-list li {
    border: .5px solid #FFF;
    border-radius: var(--bs-border-radius-lg);
    padding: .5rem .75rem;
    font-size: 1rem;
    flex-grow: 1;

}

